{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  {{! As you add new fields, add them in here! }}
<div class='resource flex-group-center'>
        <label for='system.attributes.selectedAbility' class='resource-label'>
          {{localize 'DARK_EMPIRE.Item.Feature.FIELDS.selectedAbility.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <select name='system.attributes.selectedAbility' data-dtype='String'>
            {{#each system.abilities as |ability key|}}
              <option value='{{key}}' {{#if (eq key ../system.attributes.selectedAbility)}}selected{{/if}}>{{key}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.attributes.abilityMod' class='resource-label'>
          {{localize 'DARK_EMPIRE.Item.Feature.FIELDS.abilityMod.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.attributes.abilityMod'
            value='{{system.attributes.abilityMod}}'
            data-dtype='Number'
            readonly
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.attributes.skillAmount' class='resource-label'>
          {{localize 'DARK_EMPIRE.Item.Feature.FIELDS.skillAmount.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.attributes.skillAmount'
            value='{{system.attributes.skillAmount}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.attributes.total' class='resource-label'>
          {{localize 'DARK_EMPIRE.Item.Feature.FIELDS.total.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.attributes.total'
            value='{{system.attributes.total}}'
            data-dtype='Number'
            readonly
          />
        </div>
      </div>
</section>